<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Sneakers Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Contact Us</h1>
        </div>
        {% include 'nav.html' %}
    </header>
    

    <section class="main-section">
        <div class="container">
            <h2>Get in Touch</h2>
            <p>If you have any questions or feedback, feel free to reach out to us.</p>

            <form action="{{ url_for('contact') }}" method="post">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Your Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Your Message:</label>
                <textarea id="message" name="message" rows="1" required></textarea>

                <input type="submit" value="Send Message">
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Sneakers Store. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
