<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Sign Up</h1>
        </div>
    </header>
    {% include 'nav.html' %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    {% if 'Username already taken' in message %}
                        <li class="error">{{ message }}</li>
                    {% else %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="signup-form">
        <form method="post" action="{{ url_for('signup') }}">
            <!-- Add your form fields here -->
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="signup-button">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
    </div>

</body>
</html>
